*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:turquoise;
}


.greetingmsg
{
  margin-top: 8rem; 
  font-size: 4rem;
  box-sizing: border-box;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: white;
}
#root
{
  display: flex;
  justify-content: center;
}

.msg
{
  background-color: white;
  font-family: 'Lexend Peta', sans-serif;
}